:root{
    --main-color: #00EAFB;  /* blanc */
    --second-color: #ffffff;  
    --bg-color: #364d91; /* bleu foncé */
    --color-link: #ffffff;
    --color-link-hover: #ffb300;
    --color-text: #e9e9e9;
}